<div class="row">
  <aside class="col-md-4">
      <%= render 'shared/user_info' %>
      <%= render 'shared/stats' %>
      <%= render 'shared/micropost_form' %>
  </aside>
  <div class="col-md-8">
    <h3>Micropost Feed</h3>
    <%= render 'shared/feed' %>
  </div>
</div>